<h1 align="center">List of all articles</h1>
<div align="center">
  <%= will_paginate @article_list %>
</div>
<%= render 'article', obj: @article_list %>
<div align="center">
  <%= will_paginate @article_list %>
</div>