<body style="background-color:powderblue;">
<style>
h1 {text-align:center;}
h2 {text-align:center; color:red;}
p {text-align:center;}

#image_tag {width=42px; height=25%;}
</style>

<h1>Welcome to Alpha-Blog Home Page</h1>

<h2>Wish List</h2>
<ol>
<li>Learn Ruby programming</li>
<li>Learn Rails</li>
</ol>

<p></p>
</body>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>
<%= image_tag 'LV_Bellagio.png' %>

<h5>Strugging by NK</h5>
